<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h2>Upload your csv file</h2>
    <p class="lead">Upload your csv file here and you will see a list of UNIQUE errors below.</p>
    <form class="row uploadcsv-form" enctype="multipart/form-data">
    <!--     <label>Syncs in realtime across clients</label> -->
    <p>
      <button ng-file-select="onFileSelect($files)" data-multiple="true" title="select file" onclick="this.value = null" class="upload-button btn btn-default btn-lg">
      	<span class="glyphicon glyphicon-upload glyphicon-upl"></span>Click here to select file
      </button> 
    </p>
  </form>
  
  </div>
</header>
<body>
  <div>
    <table class="table table-striped table-bordered table-condensed table-hover errorLogs">
      <thead>
        <tr>
          <th class="sno">#</th>
          <th class="description">Description</th>
          <!-- <th>Stacktrace</th> -->
          <th class="filterstatus">
            <select ng-model="selectedStatus" ng-options="status for status in statuses" ng-change="filterColumn(selectedStatus, selectedSystem, selectedRelease)" ng-init="selectedStatus='NEW'">
               <option value="">Select status</option>
            </select>
          </th>
          <th class="count">Count</th>
          <th class="filtersystem">
            <select ng-model="selectedSystem" ng-options="system for system in systems" ng-change="filterColumn(selectedStatus, selectedSystem, selectedRelease)">
               <option value="">To be fixed in</option>
            </select>
          </th>
          <th class="filterrelease">
            <select ng-model="selectedRelease" ng-options="release for release in releases" ng-change="filterColumn(selectedStatus, selectedSystem, selectedRelease)">
               <option value="">Select release</option>
            </select>
          </th>
          <th class="buildversion">Build Version</th>          
          <th class="lastupdated">Last Updated</th>
          <th class="delete"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-class="{NEW:'danger', CLOSED:'success', 'FIXED':'info'}[errorLog.status]" ng-repeat="errorLog in errorLogs" >
          <td>{{$index + 1}}</td>
          <td>
            {{errorLog.description}} <br />
            <div ng-show="errorLog.stacktrace != ''">more ... <span  class="btn btn-default btn-xs" ng-click="showStackTrace(errorLog)">Show</span></div>
            <br /> <i>Last occured: </i><strong>{{errorLog.lastOccured | date: 'longDate'}}</strong>
          </td>
          <!--<td><span class="btn btn-default btn-sm" ng-click="showStackTrace(errorLog)">Show stacktrace</span></td>-->
          <td>
            <span ng-hide="showDropDown" >{{errorLog.status}} </span>
            <span ng-blur="showDropDown=false">        
              <select ng-show="showDropDown" ng-model="modifiedStatus" ng-change="showDropDown=false;updateLog(errorLog, 'status', modifiedStatus)" ng-init="modifiedStatus=errorLog.status"> 
                <option ng-repeat="status in statuses" ng-selected="{{errorLog.status == status}}" value="{{status}}" ng-disabled='{{status==="NEW"}}'>{{status}}</option>
              </select> 
            </span>           
            <a title="change status" ng-click="showDropDown=true" href="" ><span class="glyphicon glyphicon-pencil" ></span></a>
          </td>
          <td>{{errorLog.count}}</td>
          <td>
            <span ng-hide="showSystem" ng-blur="showSystem=false">
              <select ng-show="showSystems(modifiedStatus)" ng-model="updatedSystem" ng-options="system for system in systems" ng-change="showSystem = true;updateLog(errorLog, 'system', updatedSystem)" ng-init="updatedSystem = errorLog.system">                 
              </select>
            </span> 
            {{errorLog.system}}
          </td>
          <td>
            <span ng-hide="showRelease" ng-blur="showRelease=false">
              <select ng-show ="showReleases(modifiedStatus)" ng-model="updatedRelease" ng-options="release for release in releases" ng-change="showRelease = true;updateLog(errorLog, 'buildRelease', updatedRelease)" ng-init="updatedRelease = errorLog.buildRelease">                
              </select>
            </span>           
            {{errorLog.buildRelease}}
          </td>
          <td>
            <span ng-hide="showVersion" ng-init="showVersion = false">
               <input type="text" ng-show="showInputs(modifiedStatus)" ng-model="buildVersion" ng-blur="showVersion = true;updateLog(errorLog, 'buildVersion', buildVersion)" ng-init="buildVersion = errorLog.buildVersion" />
            </span>
            {{errorLog.buildVersion}}
          </td>          
          <td>{{errorLog.lastUpdated | date : 'mediumDate'}}</td>
          <td>
            <a ng-click="deleteLog(errorLog)" title="Delete log" role="button" href="">
              <span class="glyphicon glyphicon-remove" ></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

<footer class="footer">
  <div class="container">
      <p>ErrorTracker 0.1 |
        <a href="https://github.com/rekhav/errortracker/issues?state=open">Issues</a>
      </p>
  </div>
</footer>

